	#button-banner {
		background-color:black;
		font-size:20px;
		padding:13px 30px;
		border-radius:4px;
		color: white ;
		font-weight:bold;
		margin-left: 85px;
		width: 10px;
	}

	.banner-title h1 {
	    font-size: 55px;
	    margin-top: -200px;
	    margin-left: 49px;
	    text-align: center;
	}

