	.list {
		list-style-type: none;
		color: white;
	}
	.list li 
	{
		display:inline;
		margin-right:5px;
	}
	.list a {
	   color:white ; 
	}
	.list a:hover {
	   color:black ; 
	   background-color:white; 
	}