	.list-social-network {
		display: block;
	    margin: 0px;
		list-style-type: none; 
		list-style-type: disc;
		padding-right: 0px;
	}

	.list-social-network li {
		display:inline;
	}
	.list-social-network i {
		font-size: 30px ;
		color:rgb(182,194,198);

	}
	.list-social-network i:hover 
	{
		color:rgb(57,123,204);
	}
